<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Baufest People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  
  <style type="text/css">
    body { padding-top: 70px; }
    footer { padding-top: 100px;}
  </style>

  </head>
  <body style="">
  <div class="bs-example">

    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://bootswatch.com/flatly/#">Baufest People</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://bootswatch.com/flatly/#">Timeline</a></li>
          <!-- <li><a href="#">Projects</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://bootswatch.com/flatly/#">Action</a></li>
              <li><a href="http://bootswatch.com/flatly/#">Another action</a></li>
              <li><a href="http://bootswatch.com/flatly/#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Dropdown header</li>
              <li><a href="http://bootswatch.com/flatly/#">Separated link</a></li>
              <li><a href="http://bootswatch.com/flatly/#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Meetings</a>
              </li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Store</a></li>
            </ul>
          </li>
        </ul>

        <!-- Search text box -->
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control col-lg-9" placeholder="Search...">
        </form>

        <!-- Account menu -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              Peter Griffin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="http://bootswatch.com/flatly/#">Messages<span class="badge pull-right">42</span></a></li>
              <li><a href="http://bootswatch.com/flatly/#">Profile</a></li>
              <li><a href="http://bootswatch.com/flatly/#">Settings</a></li>
              <li class="divider"></li>
              <li><a href="http://bootswatch.com/flatly/#">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.navbar -->


    <div class="container">
  
      <!-- My Post -->
      <div class="well">
        <div class="row">
          
          <div class="col-md-2">
            <img src="img/John_Williams.jpg" class="img-rounded img-responsive hidden-xs hidden-sm">
          </div>
          
          <div class="col-md-7">
            <h4>Hi, Peter! What are you working on?</h4>
            <form role="form">
              <textarea class="form-control" rows="3" autofocus></textarea>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">POST</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">To everyone</a></li>
                  <li><a href="#">To colleagues</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">To project members</li>
                  <li><a href="#">TLN</a></li>
                  <li><a href="#">Baufest People</a></li>
                </ul>
              </div> <!-- /.btn-group -->
           
            </form>
          </div>
          
          <div class="col-md-3">
            <div class="panel panel-info hidden-sm hidden-xs">
              <div class="panel-body">
                You can write an article in the blog. It's easy! In the navigation bar, click on Blog item under Apps menu.
              </div>
            </div>
          </div>

        </div> <!-- /.row -->
      </div> <!-- /.well -->

      <!-- Posts -->
      <div class="row">

        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
            <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-rounded hidden-xs" src="img/Paul_Jones50.jpg">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Adam West posted a message</h4>
                      Hey! I'm glad to tell you all that we are starting a project for an important client. Stay tuned!
                    <br />

                    <button class="btn btn-success btn-xs">
                      <span class="glyphicon glyphicon-thumbs-up"></span>Like
                    </button>
                    <button class="btn btn-danger btn-xs">
                      <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs">Reply</button>
                    <button type="button" class="btn btn-primary btn-xs">Share</button>

                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object img-rounded hidden-xs" src="img/Gary_Donovan50.jpg">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Jason Bourne replied</h4>
                          Great, Adam! Congratulations! I'm excited to know what is all that about :-)
                        <br />

                        <button class="btn btn-success btn-xs">
                          <span class="glyphicon glyphicon-thumbs-up"></span>Like
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">Reply</button>
                        <!-- <button type="button" class="btn btn-primary btn-xs">Share</button> -->
                      </div>
             
                  </div> <!-- /.media-body -->

                  
                  </div>
                  </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <!-- <h3>Suggested people</h3> -->
        </div>
      </div>

      <footer>
        <div class="row">
          <!-- <div class="col-lg-12">
            <p>Theme made by <a href="http://thomaspark.me/" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="nofollow">Apache License v2.0</a>.</p>
            <p>Based on <a href="http://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller" rel="nofollow">Gerald Hiller</a>.</p>
          </div>
        </div> -->
      </footer>

    </div>

    <!-- ---------- -->
    <!-- Templates -->
    <!-- ---------- -->

    <script type="text/template" id="post-template">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-rounded hidden-xs" src="img/<%- userPhoto %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%- userName %> posted a message</h4>
            <%- message %>
            <br />
            <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-thumbs-up"></span>Like</button>
            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            
            <button type="button" class="btn btn-primary btn-xs">Reply</button>
            <button type="button" class="btn btn-primary btn-xs">Share</button>
        </div>
      </li>
    </script>

    <!---------------->
    <!-- References -->
    <!---------------->

    <!-- jQuery -->
    <script src="js/lib/jquery-1.10.2.js"></script>
    <!-- Backbone.js -->
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/backbone.localStorage.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="js/lib/bootstrap.min.js"></script>
    <!-- Chart -->
    <script src="js/lib/Chart.js"></script>

    <!-- Models -->
    <script src="js/models/person.js"></script>
  
</body>
</html>